*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.aab
# Exclude build APKs but keep release APK
/app/build/**/*.apk
!FlowPay-*.apk
